.proposals-item-con {
  border-radius: 14px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.16);
  border: solid 1px var(--btn-border-color);
  background-color: var(--header-bg);
  cursor: pointer;
}

.proposals-info-con {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.proposals-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  height: 44px;
}

.line {
  width: 1px;
  height: 100%;
  background-color: var(--btn-border-color);
}

.proposals-info-title {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: var(--vote-modal-amount-txt-color);
  margin-bottom: 8px;
}

.proposals-info-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--title-color);
}

.icon-size {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.proposals-info-choice-favor {
  color: #0fc659;
}

.proposals-info-choice-against {
  color: #e7000b;
}

.proposals-info-per {
  color: var(--discription-color);
}

.proposals-info-per-value {
  color: #f0721c;
}

.proposals-info-reward-pending {
  color: #0fc659;
}

.proposals-title {
  height: 28px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--title-color);
}