.back-title {
  height: 44px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--discription-color);
}

.smal-icon-size {
  width: 16px;
  height: 16px;
}

.large-icon-size {
  width: 26px;
  height: 26px;
}

.proposal-title {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--title-color);
}

